<div class="container-sm col-6 py-4 formulario-container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title text-center">Iniciar sesión con su cuenta</h5>
        </div>
        <div class="card-body text-center">
          <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
            <div class="row text-center">
              <div class=" mb-3 col-6 ">
                <label >Número de Afiliación</label>
                <input type="text" class="form-control col-3 text-center" formControlName="idAfiliacion"
                  id="idAfiliacion" placeholder="Ingresa tu número de afiliación">
              </div>
            </div>
            <div>
              <div class=" mb-3 col-6 ">
                <label for="">Password</label>
                <input type="password" class="form-control col-3" formControlName="password" id="password"
                  placeholder="Ingresa tu password">
              </div>
            </div>
            <div class="mb-3 text-center">
              <button type="submit" class="btn btn-primary">Acceder</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
</div>
