/* Alinea la fecha del comentario a la derecha */
.fechaComentario {
    display: block;
    text-align: right;
    margin-left: 0;
  }
  
  /* Contenedor de botones para que se distribuyan correctamente */
  .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .mat-dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .modal-body {
    max-height: 60vh; /* 60% de la altura de la pantalla */
    overflow-y: auto; /* Habilita el scroll vertical solo en el área de los comentarios */
  }
  