/* Alinea la fecha del comentario a la derecha */
.fechaComentario {
    display: block;
    text-align: right;
    margin-left: 0;
  }
  
  /* Contenedor de botones para que se distribuyan correctamente */
  .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .mat-dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .modal-body {
    max-height: 60vh; /* 60% de la altura de la pantalla */
    overflow-y: auto; /* Habilita el scroll vertical solo en el área de los comentarios */
  }
  .modal-header {
    display: grid; /* Usa CSS Grid */
    place-items: center; /* Centra el contenido tanto horizontal como verticalmente */
    width: 100%;
    background-color: #1d1d1d;
    color: white;
  }
  .btn-close{
    background-color: rgb(129, 131, 132);
  }
  .btn.btn-sm.btn-success.mt-2 {
    align-self: flex-end;
  }

  /* Estilos para el formulario de comentarios */
.row.mt-2 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
.comentarios{
  width: 97%;
}
