<div class="modal-dialog modal-dialog-centered modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Editar perfil de Afiliación</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form (ngSubmit)="onRegistro()" [formGroup]="registroForm" class="modal-body">
      <div class="form-group">
        <label>Nombre: {{ data.fila.nombre }} {{ data.fila.apellidos }}</label>
      </div>
      <div class="form-group">
        <label for="usuariorol">Roles</label>
        <select formControlName="usuariorol" class="form-control" id="usuariorol">
          <option *ngFor="let option of usuariosRoles" [value]="option.id">{{ option.descripcion }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="estadoCuenta">Estado Cuenta</label>
        <select formControlName="estadoCuenta" class="form-control" id="estadoCuenta">
          <option *ngFor="let option of estadosUsuariosList" [value]="option.id">{{ option.estado }}</option>
        </select>
      </div>
      <div class="form-group" *ngIf="showPasswordFields">
        <label for="password">Contraseña</label>
        <input formControlName="password" type="password" class="form-control" id="password">
      </div>
      <div class="form-group" *ngIf="showPasswordFields">
        <label for="confirmPassword">Confirmar Contraseña</label>
        <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword">
      </div>
    </form>
    <div class="modal-footer justify-content-center">
      <button type="button" class="btn btn-primary" (click)="onRegistro()" [disabled]="!registroForm.valid">Guardar</button>
    </div>
  </div>
</div>
