<div class="container py-4 formulario-container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title text-center">Solicitud de Afiliación</h5>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onRegistro()" name="registroForm" [formGroup]="registroForm">
            <div class="row">
              <div class=" mb-3 col-4 ">
                <label for="" class="form-label">Nombre</label>
                <input type="text" class="form-control" formControlName="nombre" id="nombre">
              </div>
              <div class=" col-5">
                <label for="" class="form-label">Apellidos</label>
                <input type="text" class="form-control" formControlName="apellidos" id="apellidos">
              </div>
              <div class="col-3">
                <label for="" class="form-label">Fecha de Nacimiento</label>
                <div class="input-group date col-3" id="datepicker" data-target-input="nearest">
                  <input type="date" class="form-control " data-target="#datepicker" formControlName="fechaNacimiento"
                   />
                </div>
              </div>
            </div>
            <div class=" mb-3 row g-3">
              <div class="col-2">
                <label for="" class="form-label"></label>
                <select formControlName="tipoDocumento" [(value)]="selectedTipoDocumento" class="form-select"
                  aria-label="Default select example" >
                  @for (option of tiposDocumentaciones; track option) {
                  <option [value]="option.id">{{ option.descripcion }}
                  </option>
                  }
                </select>

              </div>

              <div class="col-2">
                <label for="" class="form-label">Documentación</label>
                <input type="text" class="form-control" id="documentación" 
                  formControlName="documento">
              </div>
              <div class="col-2">
                <label for="" class="form-label">Teléfono</label>
                <input type="text" class="form-control" formControlName="telefono" id="telefono">
              </div>
              <div class="col-6">
                <label for="" class="form-label">Email</label>
              <input type="email" class="form-control" formControlName="correo" id="email"
               (input)="onEmailChange()">
              @if (registroForm.get('correo')?.hasError('emailExists')) {
              <div>
                <small class="error-message">El correo electrónico ya existe</small>
              </div>
              }
              @if (registroForm.get('correo')?.hasError('email') && registroForm.get('correo')?.touched) {
              <div>
                <small class="error">Correo electrónico no válido</small>
              </div>
              }

              </div>
            </div>
            <div class="mb-3 row">
              <div class="col-4">
                <label for="" class="form-label">Dirección</label>
                <input type="text" class="form-control" formControlName="direccion" id="direccion"
                  >
              </div>
              <div class="col-2">
                <label for="" class="form-label">Codigo Postal</label>
                <input type="text" class="form-control" formControlName="codigoPostal" id="codigoPostal"
                  >
              </div>
              <div class="col-3">
                <label for="" class="form-label">Población</label>
                <input formControlName="localidad" [(value)]="selectedLocalidad" class="form-control"
                  aria-label="Default select example" >
              </div>
              <div class="col-3">
                <label for="" class="form-label">Provincia</label>
                <select formControlName="provincia" [(value)]="selectedProvincia" class="form-select"
                  ><!-- (selectionChange)="updateLocalidades($event.value)" -->
                  @for (option of provincias; track option) {
                  <option [value]="option.id">{{ option.descripcion }}
                  </option>
                  }
                </select>
              </div>
            </div>

            <div class="mb-3 row">
              <div class="col-3">
                <label for="" class="form-label">Deportes</label>
                <select formControlName="deporte" [(value)]="selectedProvincia" class="form-select"
                  ><!-- (selectionChange)="updateLocalidades($event.value)" -->
                  @for (option of deportes; track option) {
                  <option [value]="option.id">{{ option.nombre }}
                  </option>
                  }
                </select>
              </div>
              <div class="col-3">
                <label for="" class="form-label">Actividad</label>
                <select formControlName="afiliadosFuncion" [(value)]="selectedFuncion" class="form-select"
                  aria-label="Default select example" >
                  @for (option of afiliadosFunciones; track option) {
                  <option [value]="option.id">{{ option.descripcion }}
                  </option>
                  }
                </select>
              </div>
              <div class="col-3">
                <label for="" class="form-label">Categoría</label>

                <select formControlName="afiliadosCategoria" [(value)]="selectedafiliadosCategoria" class="form-select"
                  aria-label="Default select example" placeholder="Categoria">
                  @for (option of categorias; track option) {
                  <option [value]="option.id">{{ option.descripcion }}
                  </option>
                  }
                </select>
              </div>
              <div class="col-3 center-text">
                <label for="" class="form-label">Situación Actual:</label>
                <div class="form-check col-3 center-text">
                  <input class="form-check-input" type="radio" value="activo" formControlName="situacionActual"
                    id="flexChecActivo">
                  <label class="form-check-label" for="flexCheckDefault">
                    Activo
                  </label>
                </div>
                <div class="form-check col-3">
                  <input class="form-check-input" type="radio" value="Ex" formControlName="situacionActual"
                    id="flexCheckEx" checked>
                  <label class="form-check-label" for="flexCheckChecked">
                    Ex
                  </label>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="card-header-sub">
                <h5 class="card-title text-center">Deberás abonar 5 euros por afiliarte (correspondiente a insignia y tarjeta de
                  afiliación) más una cuota anual de 20 euros.</h5>
              </div>
              <div class="card-body text-center">
                <!--<h5 class="card-title">Forma de pago</h5>-->
                <div class="card mb-3">
                  <div class="card-body text-center">
                    <p class="card-text">Forma de Pago</p>
                    <div class="form-check form-check-inline ">
                      <input class="form-check-input" type="radio" name="tipoPago" id="pagoTarjeta"
                        formControlName="tipoPago" [value]="1">
                      <label class="form-check-label" for="pagoTarjeta">
                        Tarjeta de Crédito
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="tipoPago" id="pagoBizum"
                        formControlName="tipoPago" [value]="2">
                      <label class="form-check-label" for="pagoBizum">
                        Bizum
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="tipoPago" id="pagoTransferencia"
                        formControlName="tipoPago" [value]="3">
                      <label class="form-check-label" for="pagoTransferencia">
                        Transferencia Bancaria
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="tipoPago" id="pagoCaja"
                        formControlName="tipoPago" [value]="4">
                      <label class="form-check-label" for="pagoCaja">
                        Caja
                      </label>
                    </div>
                    <p class="card-text font-weight-bold">Cuenta CaixaBank: ES-90-2100-3421-54-2200159778</p>
                  </div>
                </div>

              </div>
            </div>


            <div class="mb-3 text-center">
              @if (!isLoading) {
              <button type="submit" class="btn btn-primary">Registrarse</button>
              }
            </div>


          </form>
          @if (isLoading) {
          <div class="text-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Cargando...</span>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>