mat-card {
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
  max-height: 1300px;
}
.campo {
  margin-bottom: 20px;
}

.header{
  text-align: center;

}
.full-width {
  width: 100%;
  border-radius: 5px;
}
.width-select {
  width: 20%;
}

.medium-width {
  width: 48%;
  padding-right: 1%;
  padding-left: 1%;
}
.select-width{
  width: 48%;
}
.select-card-width{
  width: 40%;
  text-align: center;
}
.select-width-right{
  width: 48%;
  padding-left: 4%;
}
.normal-width {
  width: 65%;
}
.little-width{
  width: 30%;
  padding-left: 5%;
}
.littles-width{
  width: 10%;
  padding-left: 5%;
}
.little-width-without-padding{
  width: 20%;
}
.button-row {
  padding-top: 5px;
}

.button-row a {
  margin-right: 8px;
  text-align: center;
}

.forget-password{
  padding-left: 0px;
}

.emailInput{
  padding-top: 10px;
}

.contentBody {
  padding: 60px 1rem;
  background :#1b6ca8;
  display: block;
}

.aLink{
  float: right;
  padding-right: 60px;
  text-decoration: none;
}

/* Ajusta el tamaño y la alineación del mat-select */
.mi-select {
  width: 80%;
  text-align: left;
  padding-top: 5px;
}

.mat-label-with-border {
  font-size: 16px;
  width: 30%;
  border-radius: 8px;
  line-height: 24px;
  padding-left: 10%;
  padding-right: 10%;
}
.rolesAfiliacion {
  flex: 1;
  align-self: center;
  align-items: center; /* Alinea verticalmente los elementos al centro */
}

.mat-form-field-flex {
  justify-content: space-between; /* Alinea el contenido del mat-form-field */
}
.redsysBoton{
  padding-left: 10%;
  padding-right: 10%;
  align-self: flex-end;
}
.cuota-periodicidad{
  padding-top: 5px;
}
.mat-card-header-text{
  text-align: center;
}
.situacionActual{
  padding-left: 25%;
  
}
.categoria{
  width: 48%;
}

