<div class="component-container">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <!-- Título dinámico basado en el tipo de noticia -->
        <h2 >
          {{
          tipoNoticia === 'PARTICULAR'
          ? 'Noticias'
          : 'Noticias Deportivas'
  
          }}
        </h2>
      </div>
      <div class="col-6 text-end">
        <div class="position-relative">
          <input type="text" class="form-control pe-5" id="filtro" (keyup)="filtrar($event)"
            placeholder="Teclee el título de la noticia" required />
          <i class="fa fa-search position-absolute top-50 end-0 translate-middle-y me-3"></i>
        </div>
      </div>
      
    </div>
    
  </div>
  <div class="container-md py-4 formulario-container">

    <!-- Contenedor de noticias: 3 por fila -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <!-- Recorremos las noticias -->
      @for (noticia of noticias; track noticia) {
      <div class="col">
        <div class="noticia">
          <!-- Imagen principal -->
          <img [src]="getImageUrl(noticia)" (error)="handleImageError(noticia)" alt="Imagen de la noticia"
            class="img-fluid">
          <!-- Información de la noticia -->
          <div class="noticia-info mt-3">
            <h3>{{ noticia.titulo }}</h3>
            <div class="noticia-footer">
              <a *ngIf="noticia.propia; else externalLink" (click)="viewDetails($event, noticia.id ? noticia.id : 1)"
                class="btn btn-primary">
                Leer más
              </a>
              <ng-template #externalLink>
                <a [href]="noticia.linkOriginal" class="btn btn-primary" target="_blank">
                  Leer más
                </a>
              </ng-template>

              <span class="fecha-noticia">{{ noticia.fechaInsercion | date: 'longDate' }}</span>
            </div>
          </div>
        </div>
      </div>
      }
    </div>

    <!-- Paginación -->
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="paginaActual === 0">
          <a class="page-link" (click)="cambiarPagina(paginaActual - 1)" tabindex="-1">Anterior</a>
        </li>
        @for (pagina of paginas; track pagina; let i = $index) {
        <li class="page-item" [class.active]="paginaActual === i">
          <a class="page-link" (click)="cambiarPagina(i)">{{ i + 1 }}</a>
        </li>
        }
        <li class="page-item" [class.disabled]="paginaActual === totalPaginas - 1">
          <a class="page-link" (click)="cambiarPagina(paginaActual + 1)">Siguiente</a>
        </li>
      </ul>
    </nav>
  </div>
</div>