<div class="container mt-4 pt-5 tabla-container filtro-card">
    <button class="btn btn-link back-button" (click)="goBack()">
        <i class="fas fa-arrow-left"></i> Volver a Noticias
    </button>

    <!-- noticias-reader.component.html -->
    <div class="container py-4 mt-4 noticia-card">
        <div class="card" *ngIf="noticia">
            <img [src]="getImageUrl(noticia)" (error)="handleImageError(noticia)" class="card-img-top"
                alt="{{ noticia.titulo }}">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <small class="text-muted">
                        <i class="bi bi-calendar"></i> {{ noticia.fechaInsercion | date:'MMMM d, y' }}
                    </small>
                    <button *ngIf="noticia.tipo === 'INCIDENCIAS'" 
        class="btn btn-sm btn-primary comentario" 
        (click)="mostrarComentarios(noticia)" 
        data-bs-toggle="tooltip" 
        title="Ver Comentarios">
    <i class="fas fa-comment"></i>({{ noticia.comentarios?.length }})
</button>

                </div>
                <h1 class="card-title">{{ noticia.titulo }}</h1>

                <div class="quill-content" [innerHTML]="noticia.descripcion" lang="es"></div>
            </div>
        </div>
    </div>

</div>