.titulo-principal{
    font-size: 3.5em;
    max-width: 100%;
    word-wrap: break-word;
}
.menu-principal {
  background-color: black !important; /* Fondo negro */
  color: white; /* Texto blanco */
}

.menu-barra {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center; /* Centrar el contenido */
}

.menu-buttons {
  display: flex;
  gap: 10px; /* Espaciado entre botones */
}

.menu-buttons button {
  color: white;
}

.custom-menu-item {
  background-color: black !important;
  color: white !important;
}

.fixed-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
} 