<div class="container">
  <h1>Junta directiva</h1>
  <div class="row">
    <div class="col-md-4" *ngFor="let miembro of miembros; let i = index">
      <div class="card" (mouseover)="miembro.isHovered = true" (mouseleave)="miembro.isHovered = false" [ngStyle]="{'background-image': 'url(' + (miembro.isHovered ? miembro.fotoArbitro : miembro.fotoPersonal) + ')'}">
        <div class="card-content">
          <div class="card-header">{{ miembro.cargo }}</div>
          <div class="card-subheader">{{ miembro.nombre }}</div>
          <div *ngIf="miembro.isHovered" class="card-sub-subheader">{{ miembro.correo }}</div>

          <div class="card-body">
            <div *ngIf="miembro.isHovered" class="card-footer">
              <div class="footer-section right">
                <strong>Trayectoria</strong>
                <ul>
                  <li *ngFor="let item of miembro.trayectoria">{{ item }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
