.formulario-container {
    background-color: #f8f9fa;
    margin-top: 80px;
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-header {
    background-color: #141414;
    color: white;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.d-flex {
    display: flex;
  }
  
  .justify-content-between {
    justify-content: space-between;
  }
  
  .align-items-center {
    align-items: center;
  }
  .modal-container {
    width: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
  }
  