.formulario-container {
    background-color: #f8f9fa;
    margin-top: 80px;
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-header {
    background-color: #141414;
    color: white;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.ql-container {
    font-size: 16px; /* Ajusta el tamaño del texto */
    min-height: 150px; /* Altura mínima */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  .ql-toolbar {
    border-radius: 5px 5px 0 0; /* Bordes redondeados en la parte superior */
    background-color: #f8f9fa; /* Color de fondo */
  }
  
  .ql-editor {
    min-height: 150px; /* Evita que sea muy pequeño */
    max-height: 300px; /* Evita que crezca demasiado */
    overflow-y: auto; /* Permite desplazamiento si hay mucho texto */
  }
  
  .ql-editor p {
    margin-bottom: 10px; /* Agrega espaciado entre párrafos */
  }
  