<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<div *ngIf="!mostrarFormulario" class="container-fluid mt-4 pt-5">
    <div class="row">
        
        <h5 class="card-title filtro-card text-end">Listado de Noticias</h5>
    </div>

    <div class="row">
        <!-- Columna de botones (col-3) -->
        <div class="col-md-2 pe-0 order-1 order-md-0">
            <div class="card p-3 mb-3">
                <h5 class="text-center">Filtro</h5>
                <input type="text" class="form-control" id="filtro" (keyup)="filtrar($event)"
                    placeholder="Teclee el valor de la columna por la que desee filtrar" required />
            </div>
            <div class="card p-3 mb-3">
                <button class="btn btn-success w-100 mb-2" (click)="insertarNoticia()">
                    <i class="fas fa-plus me-2"></i> Crear nueva Noticia
                </button>

            </div>
        </div>

        <!-- Columna de la tabla (col-9) -->
        <div class="col-md-10 order-0 order-md-1">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Título</th>
                                    <th scope="col">Tipo</th>
                                    <th>Fuente</th>
                                    <th scope="col">Acciones</th>

                                </tr>
                            </thead>
                            <tbody>
                                @for (noticia of getPaginatedData(); track noticia) {
                                <tr>
                                    <td>{{ noticia.titulo }}</td>
                                    <td>{{ noticia.tipo }}</td>
                                    <td>{{ noticia.propia ? 'Propia' : 'Externa' }}</td>
                                    <td>
                                    <!-- Botones de Acción en una fila (d-flex) -->
                                    <div class="d-flex justify-content-start">
                                        <!-- Botón Ver -->
                                        <button class="btn btn-outline-primary btn-sm me-2" data-bs-toggle="tooltip" title="Ver detalles"
                                            (click)="viewDetails(noticia)">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                        <!-- Botón Editar -->
                                        <button class="btn btn-warning btn-sm me-2" (click)="editarNoticia(noticia)" data-bs-toggle="tooltip" title="Editar">
                                            <i class="fas fa-edit"></i> 
                                        </button>
                                        <!-- Botón Eliminar -->
                                        <button class="btn btn-danger btn-sm" (click)="eliminarNoticia(noticia.id)" data-bs-toggle="tooltip" title="Eliminar">
                                            <i class="fas fa-trash"></i> 
                                        </button>
                                    </div>
                                </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Page navigation">
                        <mat-paginator [length]="dataSource.filteredData.length" [pageSize]="10"
                            [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-between align-items-center mb-3 modal-crear">
    <app-crear-noticias *ngIf="mostrarFormulario" [noticiaAEditar]="noticiaSeleccionada"
        (formularioCerrado)="cerrarFormulario()" class="w-100"></app-crear-noticias>
</div>