<div class="container mt-4 pt-5 tabla-container filtro-card">
  <button class="btn btn-link back-button" (click)="goBack()">
    <i class="fas fa-arrow-left"></i> Volver a la lista de reportes
  </button>

  <div class="card ">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h2 class="card-title flex-grow-1 text-center">Detalles del Reporte</h2>
      <button class="btn btn-primary ms-auto" (click)="isEditing = true">
        <i class="fas fa-edit"></i> Editar
      </button>
    </div>
    <div class="card-body">
      @if (report) {
        <div>
          <div class="d-flex justify-content-between align-items-center mb-3">
            <app-report-edit *ngIf="isEditing" [report]="report" (reportUpdated)="handleReportUpdated($event)"></app-report-edit>
          </div>
          <div class="row" style="padding-bottom: 10px;">
            <div class="row col-3">
              <h5>ID: {{ report.referenciaReporte }}</h5> 
            </div>
            <div class="row col-3">
              <h5>Afiliación ID: {{ report.afiliacionId}}</h5> 
            </div>
            <div class="row col-6">
              <h5>Nombre: {{ report.nombre }} {{ report.apellidos }}</h5>
            </div>  
          </div>
          <div class="row" style="padding-bottom: 10px;">
            <div class="row col-3">
              <h5>Teléfono: {{ report.telefono }}</h5> 
            </div>
            <div class="row col-3">
              <h5>Deporte: {{ report.deporte?.nombre}}</h5> 
            </div>
            <div class="row col-2">
              <h5>Provincia: {{ report.provincia?.descripcion }}</h5>
            </div>
            <div class="row col-5" style="padding-top: 10px;">
              <h5>Email: {{ report.email }}</h5>
            </div>  
          </div>
          
          <dl class="row card filtro-card ">
            <dt class="card-header-sub col-sm text-center justify-content-center">Descripción:</dt>
            <div  [innerHTML]="descripcionFormateada"></div >
          </dl>
          
          <div class="row card filtro-card ">
              <dt class="card-header-sub text-center justify-content-center">Archivos Adjuntos</dt>
            <div class="card-body">
              <div class="file-gallery">
                @if (isLoading) {
                  <div class="loading-overlay">
                    <div class="loading-content">
                      <p>Cargando archivos...</p>
                      <div class="progress-bar">
                        <div class="progress" [style.width.%]="loadingProgress"></div>
                      </div>
                      <p>{{ loadingProgress }}%</p>
                    </div>
                  </div>
                }
                <div class="file-grid">
                  @for (file of paginatedFiles; track file) {
                    <div class="file-item">
                      <img [src]="file.thumbnail" [alt]="file.fileName" (click)="openFile(file)">
                      <p>{{ file.fileName }}</p>
                      <div class="file-actions">
                        <button (click)="downloadFile(file)">Descargar</button>
                      </div>
                    </div>
                  }
                </div>
                @if (totalPages > 1) {
                  <div class="pagination-container">
                    <div class="pagination">
                      <button (click)="prevPage()" [disabled]="currentPage === 1" class="pagination-button">
                        <span class="arrow">&#9664;</span> Anterior
                      </button>
                      <span class="page-info">Página {{ currentPage }} de {{ totalPages }}</span>
                      <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="pagination-button">
                        Siguiente <span class="arrow">&#9654;</span>
                      </button>
                    </div>
                  </div>
                }
              </div>
            </div>
          </div>    
          
          
        </div>
      }
    </div>
  </div>