<div class="modal fade show d-block" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content card">
      <div class="modal-header card-header">
        <dt class="card-header text-center justify-content-center">Descripción</dt>
      </div>
          <div class="mb-3 card-body">
            <quill-editor [(ngModel)]="descripcion" [modules]="quillConfig" placeholder="Escribe la descripción aquí..."
            ></quill-editor>
      </div>
      <div class="card-footer">
        <button class="btn btn-danger" (click)="reportUpdated.emit(undefined)">Cancelar </button>
        <button class="btn btn-primary" (click)="reportUpdated.emit(descripcion)">Guardar</button>
      </div>
    </div>
  </div>
</div>