
.formulario-container {
  background-color: #f8f9fa;
  margin-top: 80px;
}

.modal-header {
  background-color: #141414;
  color: white;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.ql-toolbar {
  border-radius: 5px 5px 0 0; /* Bordes redondeados en la parte superior */
  background-color: #f8f9fa; /* Color de fondo */
}


.ql-editor p {
  margin-bottom: 10px; /* Agrega espaciado entre párrafos */
}

button.form-control {
  text-align: left;
  background-color: white;
  border: 1px solid #ced4da;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

button.form-control:hover {
  background-color: #f8f9fa;
}
.card-footer {
  display: flex;
  justify-content: space-between; /* Un botón a la izquierda y otro a la derecha */
  align-items: center;
  background-color: #f8f9fa; /* Ajusta según el diseño */
  padding-top: 10px;
}
.modal-full-height {
  min-height: 45px;
  display: flex;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.editor-container {
  flex-grow: 1; /* Hace que el contenido crezca */
  display: flex;
  flex-direction: column;
}

.ql-container {
  flex-grow: 1;
  height: 100%; /* Ocupará todo el espacio disponible */
}

.ql-editor {
  overflow-y: auto;
  
}

